:root {
  --color-red: #da4156;
}
img {
  height: auto;
  width: auto;
}
body {
  font-family: "Gill Sans", sans-serif;
}

.App-header {
  display: flex;
  border-bottom: 3px solid var(--color-red);
}

.App-header h1 {
  color: var(--color-red);

}


